.game {
  background-color: silver;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.sprite {
  background: url(images/spritesheet.jpg);
}

.sprite.time0 {
  background-position: 0 0;
  width: 13px;
  height: 23px;
}

.sprite.time1 {
  background-position: -13px 0;
  width: 13px;
  height: 23px;
}

.sprite.time2 {
  background-position: -26px 0;
  width: 13px;
  height: 23px;
}

.sprite.time3 {
  background-position: -39px 0;
  width: 13px;
  height: 23px;
}

.sprite.time4 {
  background-position: -52px 0;
  width: 13px;
  height: 23px;
}

.sprite.time5 {
  background-position: -65px 0;
  width: 13px;
  height: 23px;
}

.sprite.time6 {
  background-position: -78px 0;
  width: 13px;
  height: 23px;
}

.sprite.time7 {
  background-position: -91px 0;
  width: 13px;
  height: 23px;
}

.sprite.time8 {
  background-position: -104px 0;
  width: 13px;
  height: 23px;
}

.sprite.time9 {
  background-position: -117px 0;
  width: 13px;
  height: 23px;
}

.sprite.time- {
  background-position: -130px 0;
  width: 13px;
  height: 23px;
}

.sprite.open0 {
  background-position: 0 -23px;
  width: 16px;
  height: 16px;
}

.sprite.open1 {
  background-position: -16px -23px;
  width: 16px;
  height: 16px;
}

.sprite.open2 {
  background-position: -32px -23px;
  width: 16px;
  height: 16px;
}

.sprite.open3 {
  background-position: -48px -23px;
  width: 16px;
  height: 16px;
}

.sprite.open4 {
  background-position: -64px -23px;
  width: 16px;
  height: 16px;
}

.sprite.open5 {
  background-position: -80px -23px;
  width: 16px;
  height: 16px;
}

.sprite.open6 {
  background-position: -96px -23px;
  width: 16px;
  height: 16px;
}

.sprite.open7 {
  background-position: -112px -23px;
  width: 16px;
  height: 16px;
}

.sprite.open8 {
  background-position: -128px -23px;
  width: 16px;
  height: 16px;
}

.sprite.blank {
  background-position: 0 -39px;
  width: 16px;
  height: 16px;
}

.sprite.bombflagged {
  background-position: -16px -39px;
  width: 16px;
  height: 16px;
}

.sprite.bombdeath {
  background-position: -32px -39px;
  width: 16px;
  height: 16px;
}

.sprite.wrongflagged {
  background-position: -48px -39px;
  width: 16px;
  height: 16px;
}

.sprite.bombrevealed {
  background-position: -64px -39px;
  width: 16px;
  height: 16px;
}

.sprite.question {
  background-position: -80px -39px;
  width: 16px;
  height: 16px;
}

.sprite.questionpressed {
  background-position: -96px -39px;
  width: 16px;
  height: 16px;
}

.sprite.face:active {
  background-position: -26px -55px;
}

.sprite.facesmile {
  background-position: 0 -55px;
  width: 26px;
  height: 26px;
}

.sprite.facepressed {
  background-position: -26px -55px;
  width: 26px;
  height: 26px;
}

.sprite.faceooh {
  background-position: -52px -55px;
  width: 26px;
  height: 26px;
}

.sprite.facedead {
  background-position: -78px -55px;
  width: 26px;
  height: 26px;
}

.sprite.facewin {
  background-position: -104px -55px;
  width: 26px;
  height: 26px;
}

.sprite.bordertl {
  background-position: 0 -81px;
  width: 10px;
  height: 10px;
}

.sprite.bordertr {
  background-position: -10px -81px;
  width: 10px;
  height: 10px;
}

.sprite.borderbl {
  background-position: -20px -81px;
  width: 10px;
  height: 10px;
}

.sprite.borderbr {
  background-position: -30px -81px;
  width: 10px;
  height: 10px;
}

.sprite.bordertb {
  background: url(images/border-tb.jpg);
  height: 10px;
  flex: 1;
}

.sprite.borderjointl {
  background-position: -56px -81px;
  width: 10px;
  height: 10px;
}

.sprite.borderjointr {
  background-position: -66px -81px;
  width: 10px;
  height: 10px;
}

.sprite.borderlr {
  background: url(images/border-lr.jpg);
  width: 10px;
  flex: 1;
}

.sprite.borderlrlong {
  background: url(images/border-lr-long.jpg);
  width: 10px;
  flex: 1;
}

.game-status-row {
  align-items: center;
  margin: 3px 6px;
}

.btn:not(:disabled):active {
  padding: unset;
  box-shadow: unset;
}

.btn:focus {
  outline: unset;
  outline-offset: unset;
}
